rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      // Needs Custom Claims if checked directly in storage, or we assume admin has 'admin' claim
      return request.auth != null && request.auth.token.admin == true;
    }
    
    match /vendor-documents/{userId}/{allPaths=**} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }

    match /public-settings/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
